llama-index-core
llama-index-readers-file
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
llama-index-llms-llama-cpp
faiss-cpu
fastapi
uvicorn
streamlit
requests
pydantic
llama-cpp-python
ragas
datasets
matplotlib
